$mainColor: #292826;
$mainTextColor: #ffffff;
$icon-size: 2rem;

$main-text-size: 1.9em;
$title-text-size: 1.3em;
$price-text-size: 1.7em;
$hoverLinkColor: #F7F39B;
$nav-padding: 3em;
$filter-items-width: 20em;
$product-size-icon: 1.5em !important;

$main-height: 7em;
$search-height: 3.3em;

$mobile-width: 600px;
$tablet-width: 1024px;
$header-tablet-height: 70px;

